@section styles
{
    <style type="text/css">
        .table-responsive {
            overflow-x: auto;
        }

        #NewElementModal .alert {
            padding: 5px;
            margin-bottom: 0px;
            margin-top: 5px;
        }

        input.ng-touched.ng-invalid {
            border-color: #f86c6b;
        }
        .table-header {
            text-align: center;
            background-color: silver;
        }
        .invalid-group {
            color: #f86c6b;
        }
    </style>
}
@section scripts
{
    <script type="text/javascript" src="~/Scripts/customUtil.js"></script>
    <script type="text/javascript" src="~/Scripts/angular-datepicker/angular-datepicker.js"></script>
    <script type="text/javascript">
        var INMEDIKApp = angular.module('INMEDIKApp', ["ui.bootstrap", "ui.bootstrap.tpls"]);
        INMEDIKApp.controller('InternmentController', function ($scope, $compile, $sce, $http) {
            var dt = this;
            dt.Internment = undefined;
            dt.Order = @ViewBag.OrderId;
            dt.errors = [];
            dt.IndicationHistory = undefined;
            dt.NotesHistory = undefined;
            dt.NurseryPlanHistory = undefined;
            dt.allMedicsList = JSON.parse('@Html.Raw(ViewBag.MedicList)');
            dt.SpecialtiesList = JSON.parse('@Html.Raw(ViewBag.SpecialtiesList)');
            dt.Clinics = JSON.parse('@Html.Raw(ViewBag.ClinicRes)');
            dt.Parameters = JSON.parse('@Html.Raw(ViewBag.Parameters)');
            dt.Order = @ViewBag.OrderId;
            dt.errors = [];
            dt.ConceptsSelecteds = [];
            dt.valid = [];
            dt.aheads = [];
            dt.ClinicsL = [];
            dt.MaterialInternment = [];
            dt.AddedConcepts = [];

            $.each(dt.Clinics,function(){
                dt.ClinicsL.push({id : this.id, name: this.name});
            });
            dt.Ut_numberWithCommas = function (n) {
                return Ut_numberWithCommas(n);
            }
            dt.GetMedicsBySpecialty = function (type) {
                dt.MedicsBySpecList = dt.allMedicsList.filter(function (item) { return (item.specialtyId == dt.ConceptsSelecteds[type].idSpecialty); });
            }

            dt.loadConcepts = function (val, cat) {
                return $http.post('@Url.Action("GetConceptsOfCategory", "Concept")', {
                    data: JSON.stringify({ typed: val, CategoryName: cat })
                }).then(function (response) {
                    return response.data.data.map(function (item) {
                        return item;
                    })
                });
            };
            dt.setConceptSelected = function (item, type) {
                dt.ConceptsSelecteds[type] = {};
                dt.ConceptsSelecteds[type] = item;
                dt.ConceptsSelecteds[type].quantity = 1;
                dt.ConceptsSelecteds[type].medicId = item.MedicId;
                dt.ConceptsSelecteds[type].subTotal = (item.price - (item.price * item.discount / 100)).toFixed(2);
                dt.ConceptsSelecteds[type].IVA = (item.iva ? (dt.ConceptsSelecteds[type].subTotal * (dt.Parameters.Tax / 100)).toFixed(2) : 0);
                @*Se hace divicion entre 1 para que el navegador sepa que es un numero y no un string lo que se quiere sumar (no se usa ToNumber porque explorer no jala)*@
                dt.ConceptsSelecteds[type].Total = (dt.ConceptsSelecteds[type].IVA / 1) + (dt.ConceptsSelecteds[type].subTotal / 1);
                dt.ConceptsSelecteds[type].stock = item.stockAux;
                dt.ConceptsSelecteds[type].Comodin = "00000000";
                dt.valid[type] = true;
                dt.ConceptsSelecteds[type].ClinicId = dt.ClinicsL.filter(function (item) { return (item.id == dt.Parameters.clinicId); })[0];

                if (type == 'Productos' && item.stockAux <= 0) {
                    //dt.valid[type] = false;
                }
                if (type != 'Productos') {
                    dt.ConceptsSelecteds[type].stock = 1;
                }

                dt.GetMedicsBySpecialty(type);
            }
            dt.AddConceptToCart = function (type, updateCartDb) {
                var idxFinded;
                var TotalQuantity = dt.AddedConcepts.filter(function (data, idx) {
                    if (data.conceptId == dt.ConceptsSelecteds[type].id) {
                        idxFinded = idx;
                        return true;
                    }
                    else
                        return false;
                }).length;

                if (TotalQuantity <= 0 || type != 'Productos') {
                    if (dt.ConceptsSelecteds[type].quantity == undefined) {
                        dt.ConceptsSelecteds[type].quantity = 1;
                    };
                    var objConcept = {
                        name: dt.ConceptsSelecteds[type].name,
                        conceptId: dt.ConceptsSelecteds[type].id,
                        quantity: dt.ConceptsSelecteds[type].quantity,
                        discount: dt.ConceptsSelecteds[type].discount,
                        price: dt.ConceptsSelecteds[type].price,
                        cost: dt.ConceptsSelecteds[type].cost,
                        total: dt.ConceptsSelecteds[type].Total * dt.ConceptsSelecteds[type].quantity,
                        totalUnit: dt.ConceptsSelecteds[type].Total,
                        medicname: dt.ConceptsSelecteds[type].medicName,
                        decree: dt.ConceptsSelecteds[type].medicDecree,
                        medicId: dt.ConceptsSelecteds[type].medicId,
                        scheduled: dt.ConceptsSelecteds[type].scheduled,
                        promotion: dt.ConceptsSelecteds[type].productAux.sale_first + "x" + dt.ConceptsSelecteds[type].productAux.sale_second,
                        isInPromotion: false,
                        IVA: dt.ConceptsSelecteds[type].IVA,
                        ClinicId: dt.ConceptsSelecteds[type].ClinicId.id,
                        categoryName: dt.ConceptsSelecteds[type].categoryName
                    };
                    dt.AddedConcepts.push(objConcept);
                }
                else
                {
                    @*Aqui solo entran los productos ya que son los unicos que se acumulan*@
                    dt.AddedConcepts[idxFinded].quantity = dt.AddedConcepts[idxFinded].quantity + dt.ConceptsSelecteds[type].quantity;
                    dt.AddedConcepts[idxFinded].total = dt.AddedConcepts[idxFinded].totalUnit * dt.AddedConcepts[idxFinded].quantity;
                }
                @*en caso de que sean productos, revizamos si tienen promocion para aplicarla*@
                if(type == 'Productos' && dt.ConceptsSelecteds[type].productAux.sale_first != 0 && dt.ConceptsSelecteds[type].productAux.sale_second != 0) {
                    var idxUse = (idxFinded != undefined? idxFinded : dt.AddedConcepts.length - 1);
                    var totalCombos = Math.floor(dt.AddedConcepts[idxUse].quantity / dt.ConceptsSelecteds[type].productAux.sale_first);
                    var totalSinCombo = dt.AddedConcepts[idxUse].quantity % dt.ConceptsSelecteds[type].productAux.sale_first;
                    var totalACobrar = totalCombos * dt.ConceptsSelecteds[type].productAux.sale_second + totalSinCombo;

                    dt.AddedConcepts[idxUse].isInPromotion = (totalACobrar * dt.AddedConcepts[idxUse].price != dt.AddedConcepts[idxUse].total);
                    dt.AddedConcepts[idxUse].total = totalACobrar * dt.AddedConcepts[idxUse].price;
                }

                dt.ConceptsSelecteds[type] = {};
                dt.aheads[type] = "";
                dt.valid[type] = false;
            }

            dt.SaveInternmentMaterial = function(){
                mostrarPantallaCarga();
                $http({
                    method: 'POST',
                    url: '@Url.Action("SaveInternmentMaterial", "Internment")',
                    data: {AddedConcepts: dt.AddedConcepts, OrderId: dt.Order},
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(function (res) {
                    quitarPantallaCarga();
                    if (res.data.success) {
                        dt.AddedConcepts = [];
                        dt.GetInternmentMaterial();
                        $("#successModal").modal('show');
                    }
                    else if (res.data.success == undefined && res.data.indexOf("SignIn") > -1) {
                        dt.errors[0] = "La sesión ha caducado.";
                        $("#resultModal").modal('show');
                    }
                    else {
                        if (res.data.errors != undefined && res.data.errors && res.data.errors.length > 0) {
                            dt.errors = res.data.errors;
                        }
                        else {
                            dt.errors[0] = res.data.message;
                        }
                        $("#resultModal").modal('show');
                    }
                }, function errorCallback(res) {
                    quitarPantallaCarga();
                    console.log("error: " + res);
                });
            }
            dt.GetInternmentMaterial = function(){
                mostrarPantallaCarga();
                dt.LoadingMaterial = true;
                $http({
                    method: 'POST',
                    url: '@Url.Action("GetInternmentMaterial", "Internment")',
                    data: {AddedConcepts: dt.AddedConcepts, OrderId: dt.Order},
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(function (res) {
                    quitarPantallaCarga();
                    if (res.data.success) {
                        dt.MaterialInternment = res.data.data;
                    }
                    else if (res.data.success == undefined && res.data.indexOf("SignIn") > -1) {
                        dt.errors[0] = "La sesión ha caducado.";
                        $("#resultModal").modal('show');
                    }
                    else {
                        if (res.data.errors != undefined && res.data.errors && res.data.errors.length > 0) {
                            dt.errors = res.data.errors;
                        }
                        else {
                            dt.errors[0] = "Error al cargar lista de materiales utilizados anteriormente: " + res.data.message;
                        }
                        $("#resultModal").modal('show');
                    }
                    dt.LoadingMaterial = false;
                }, function errorCallback(res) {
                    quitarPantallaCarga();
                    dt.LoadingMaterial = false;
                    console.log("error: " + res);
                });
            }
            function ClearHistory(){
                dt.IndicationHistory = undefined;
                dt.NotesHistory = undefined;
                dt.NurseryPlanHistory = undefined;
            }
            $("#historyModal").on("hidden.bs.modal", function(){
                ClearHistory();
            });
            dt.ViewNurserySummaryHistory = function(){
                $http({
                    method: 'POST',
                    url: '@Url.Action("GetNurserySummaryHistory", "Internment")',
                    data: {
                        "internment": dt.Internment.id,
                    },
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(function (res) {
                    if (res.data.success) {
                        dt.NurseryPlanHistory = res.data.data;
                        $("#historyModal").modal("show");
                    }
                    else if (res.data.success == undefined && res.data.indexOf("SignIn") > -1) {
                        dt.errors[0] = "La sesión ha caducado.";
                        $("#resultModal").modal('show');
                    }
                    else {
                        if (res.data.errors != undefined && res.data.errors && res.data.errors.length > 0) {
                            dt.errors = res.data.errors;
                        }
                        else {
                            dt.errors[0] = res.data.message;
                        }
                        $("#resultModal").modal('show');
                    }

                }, function errorCallback(res) {
                    console.log("error: " + res);
                });
            }
            dt.ViewMedicalNoteHistory = function(){
                $http({
                    method: 'POST',
                    url: '@Url.Action("GetMedicalNotes", "Internment")',
                    data: {
                        "internment": dt.Internment.id,
                    },
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(function (res) {
                    if (res.data.success) {
                        dt.NotesHistory = res.data.data;
                        $("#historyModal").modal("show");
                    }
                    else if (res.data.success == undefined && res.data.indexOf("SignIn") > -1) {
                        dt.errors[0] = "La sesión ha caducado.";
                        $("#resultModal").modal('show');
                    }
                    else {
                        if (res.data.errors != undefined && res.data.errors && res.data.errors.length > 0) {
                            dt.errors = res.data.errors;
                        }
                        else {
                            dt.errors[0] = res.data.message;
                        }
                        $("#resultModal").modal('show');
                    }

                }, function errorCallback(res) {
                    console.log("error: " + res);
                });
            }

            dt.ViewIndicationHistory = function(){
                $http({
                    method: 'POST',
                    url: '@Url.Action("GetIndicationsForInternment", "Internment")',
                    data: {
                        "internment": dt.Internment.id,
                    },
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(function (res) {
                    if (res.data.success) {
                        dt.IndicationHistory = res.data.data;
                        $("#historyModal").modal("show");
                    }
                    else if (res.data.success == undefined && res.data.indexOf("SignIn") > -1) {
                        dt.errors[0] = "La sesión ha caducado.";
                        $("#resultModal").modal('show');
                    }
                    else {
                        if (res.data.errors != undefined && res.data.errors && res.data.errors.length > 0) {
                            dt.errors = res.data.errors;
                        }
                        else {
                            dt.errors[0] = res.data.message;
                        }
                        $("#resultModal").modal('show');
                    }

                }, function errorCallback(res) {
                    console.log("error: " + res);
                });
            }

            dt.SaveIndications = function(){
                $http({
                    method: 'POST',
                    url: '@Url.Action("SaveIndications", "Internment")',
                    data: {
                        "internment": dt.Internment.id,
                        "Indications": dt.Internment.medicalIndicationAux
                    },
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(function (res) {
                    if (res.data.success) {
                        init();
                        $("#successModal").modal("show");
                    }
                    else if (res.data.success == undefined && res.data.indexOf("SignIn") > -1) {
                        dt.errors[0] = "La sesión ha caducado.";
                        $("#resultModal").modal('show');
                    }
                    else {
                        if (res.data.errors != undefined && res.data.errors && res.data.errors.length > 0) {
                            dt.errors = res.data.errors;
                        }
                        else {
                            dt.errors[0] = res.data.message;
                        }
                        $("#resultModal").modal('show');
                    }

                }, function errorCallback(res) {
                    console.log("error: " + res);
                });
            }

            dt.SaveMedicalNotes = function(){
                $http({
                    method: 'POST',
                    url: '@Url.Action("SaveMedicalNotes", "Internment")',
                    data: {
                        "internment": dt.Internment.id,
                        "note": dt.MedicalNote
                    },
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(function (res) {
                    if (res.data.success) {
                        dt.MedicalNote = "";
                        $("#successModal").modal("show");
                    }
                    else if (res.data.success == undefined && res.data.indexOf("SignIn") > -1) {
                        dt.errors[0] = "La sesión ha caducado.";
                        $("#resultModal").modal('show');
                    }
                    else {
                        if (res.data.errors != undefined && res.data.errors && res.data.errors.length > 0) {
                            dt.errors = res.data.errors;
                        }
                        else {
                            dt.errors[0] = res.data.message;
                        }
                        $("#resultModal").modal('show');
                    }

                }, function errorCallback(res) {
                    console.log("error: " + res);
                });
            }

            dt.SaveNurserySummary = function(){
                $http({
                    method: 'POST',
                    url: '@Url.Action("SaveNurserySummary", "Internment")',
                    data: {
                        "internment": dt.Internment.id,
                        "summary": dt.Internment.nurserySummaryAux
                    },
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(function (res) {
                    if (res.data.success) {
                        init();
                        $("#successModal").modal("show");
                    }
                    else if (res.data.success == undefined && res.data.indexOf("SignIn") > -1) {
                        dt.errors[0] = "La sesión ha caducado.";
                        $("#resultModal").modal('show');
                    }
                    else {
                        if (res.data.errors != undefined && res.data.errors && res.data.errors.length > 0) {
                            dt.errors = res.data.errors;
                        }
                        else {
                            dt.errors[0] = res.data.message;
                        }
                        $("#resultModal").modal('show');
                    }

                }, function errorCallback(res) {
                    console.log("error: " + res);
                });
            }

            dt.AddIndications = function(){
                dt.Internment.medicalIndicationAux.push({});
            };

            dt.RemoveIndication = function(indication, index){
                if(indication.id)
                {
                    indication.deleted = true
                }
                else
                {
                    dt.Internment.medicalIndicationAux.splice(index,1);
                }
            }

            var init = function () {
                dt.GetInternmentMaterial();
                $http({
                    method: 'POST',
                    url: '@Url.Action("GetInternment", "Internment")',
                    params: {
                        "OrderId": dt.Order
                    },
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(function (res) {

                    if (res.data.success) {
                        dt.Internment = res.data.data;
                        if(!(dt.Internment.medicalIndicationAux && dt.Internment.medicalIndicationAux.length > 0))
                        {
                            dt.AddIndications();
                        }
                    }
                    else if (res.data.success == undefined && res.data.indexOf("SignIn") > -1) {
                        dt.errors[0] = "La sesión ha caducado.";
                        $("#resultModal").modal('show');
                    }
                    else {
                        if (res.data.errors != undefined && res.data.errors && res.data.errors.length > 0) {
                            dt.errors = res.data.errors;
                        }
                        else {
                            dt.errors[0] = res.data.message;
                        }
                        $("#resultModal").modal('show');
                    }

                }, function errorCallback(res) {
                    console.log("error: " + res);
                });
            };
            init();
        });
    </script>
}
<div class="container-fluid" ng-controller="InternmentController as INMEDIKApp">
    <div class="panel panel-default">
        <div class="panel-heading">Internamientos </div>
        <div class="panel-body">
            <div class="col-md-12">
                <div ng-show="!INMEDIKApp.Internment">
                    Cargando...
                </div>
                <div ng-show="INMEDIKApp.Internment">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label class="control-label">Paciente: </label>
                            <span>{{INMEDIKApp.Internment.patientAux.personAux.fullName}}</span>
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Edad: </label>
                            <span>{{INMEDIKApp.Internment.patientAux.personAux.age}}</span>
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Cuarto: </label>
                            <span>{{INMEDIKApp.Internment.room}}</span>
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Fecha de ingreso: </label>
                            <span>{{INMEDIKApp.Internment.internmentDateString}}</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#medicalIndicationPanel">Indicaciones médicas</a>
                                <span class="btn btn-success btn-xs pull-right" ng-click="INMEDIKApp.AddIndications()">Agregar otra</span>
                                <span class="btn btn-primary btn-xs pull-right" ng-click="INMEDIKApp.ViewIndicationHistory()">Ver historial</span>
                            </div>
                            <div class="panel-body panel-collapse in" id="medicalIndicationPanel">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Concepto</th>
                                            <th>Quitar</th>
                                            <th>Aplicar</th>
                                            <th>Última aplicación</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="indication in INMEDIKApp.Internment.medicalIndicationAux" ng-if="!indication.deleted">
                                            <td>
                                                <input type="text" class="form-control" ng-model="indication.concept" name="concept" />
                                            </td>
                                            <td>
                                                <span class="btn btn-danger" ng-click="INMEDIKApp.RemoveIndication(indication, $index)"><i class="fa fa-trash"></i></span>
                                            </td>
                                            <td>
                                                <input type="checkbox" ng-model="indication.apply" name="application" />
                                            </td>
                                            <td>
                                                <span ng-if="!indication.lastApplicationString">Nunca</span>
                                                <span ng-if="indication.lastApplicationString">{{indication.lastApplicationString}}</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <span class="btn btn-success pull-right" ng-click="INMEDIKApp.SaveIndications()" >Guardar</span>
                            </div>
                        </div>

                        <div class="col-md-12 no-padding-sides">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <a data-toggle="collapse" href="#medicalNotesPanel">Notas médicas</a> 
                                    <span class="btn btn-primary btn-xs pull-right" ng-click="INMEDIKApp.ViewMedicalNoteHistory()">Ver historial</span>
                                </div>
                                <div class="panel-body panel-collapse in" id="medicalNotesPanel">
                                    <div class="form-horizontal col-md-12">
                                        <div class="form-group">
                                            <textarea ng-model="INMEDIKApp.MedicalNote" class="form-control"></textarea>
                                        </div>
                                    </div>
                                    <span class="btn btn-success pull-right" ng-click="INMEDIKApp.SaveMedicalNotes()">Guardar</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#nurserySummaryBody"> Plan de enfermería </a>
                                <span class="btn btn-primary btn-xs pull-right" ng-click="INMEDIKApp.ViewNurserySummaryHistory()">Ver historial</span>
                            </div>
                            <div class="panel-body panel-collapse in" id="nurserySummaryBody">
                                <div class="form-horizontal">
                                    <div class="col-md-offset-9 col-md-3">
                                        <strong>Última medición</strong>
                                    </div>
                                    <div class="clearfix">

                                    </div>
                                    <div class="col-md-12" ng-repeat="summary in INMEDIKApp.Internment.nurserySummaryAux">
                                        <div class="form-group">
                                            <label class="col-md-2">{{summary.measurement.description}}:</label>
                                            <div class="col-md-7">
                                                <input class="form-control" type="text" ng-model="summary.value" />
                                            </div>
                                            <div class="col-md-3">
                                                {{summary.date_str}}
                                            </div>
                                        </div>
                                    </div>
                                    <span class="btn btn-success pull-right" ng-click="INMEDIKApp.SaveNurserySummary()">Guardar</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#InternmentMaterial"> Material de internamiento. </a>
                            </div>
                            <div class="panel-body panel-collapse collapse" id="InternmentMaterial">
                                <div class="form-horizontal">
                                    @Html.Partial("~/Views/Internment/InternmentMaterial.cshtml")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="resultModal" class="modal modal-danger fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 ng-show="INMEDIKApp.errors.length!=0" class="modal-title">Errores encontrados</h4>
                </div>
                <div class="modal-body">
                    <ul ng-show="INMEDIKApp.errors.length!=0">
                        <li ng-repeat="err in INMEDIKApp.errors">{{err}}</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>

        </div>
    </div>
    <div id="successModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-success">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Éxito</h4>
                </div>
                <div class="modal-body">
                    <ul>
                        <li>Se ha guardado correctamente</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>

        </div>
    </div>
    <div id="historyModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Indicaciones medicas</h4>
                </div>
                <div class="modal-body">
                    @*<div ng-if="INMEDIKApp.IndicationHistory" ng-repeat="application in INMEDIKApp.IndicationHistory">
                       <p><strong>Fecha aplicado: </strong>{{application.applicationDateString}}</p>
                        <ul>
                            <li ng-repeat="indication in application.indications">{{indication.concept}}</li>
                        </ul>
                    </div>*@
                    <div ng-if="INMEDIKApp.IndicationHistory">
                        <table class="table table-bordered table-condensed">
                            <tbody ng-repeat="application in INMEDIKApp.IndicationHistory">
                                <tr>
                                    <td class="table-header"><strong>Fecha: </strong>{{application.applicationDateString}}</td>
                                </tr>
                                <tr ng-repeat="indication in application.indications">
                                    <td>
                                        {{indication.concept}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div ng-if="INMEDIKApp.NotesHistory">
                        <table class="table table-bordered table-condensed">
                            <tbody ng-repeat="note in INMEDIKApp.NotesHistory">
                                <tr>
                                    <td class="table-header"><strong>Fecha: </strong>{{note.created_str}}</td>
                                </tr>
                                <tr>
                                    <td>
                                        {{note.note}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div ng-if="INMEDIKApp.NurseryPlanHistory">
                        <table class="table table-bordered table-condensed">
                            <tbody ng-repeat="summary in INMEDIKApp.NurseryPlanHistory">
                                <tr>
                                    <td colspan="2" class="table-header"><strong>Fecha: </strong>{{summary.date_str}}</td>
                                </tr>
                                <tr ng-repeat="element in summary.summaryElements">
                                    <td>
                                        {{element.measurement.name}}
                                    </td>
                                    <td>
                                        {{element.value}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>

        </div>
    </div>
</div>