<!DOCTYPE html>
<html lang="en" ng-app="LoginINMEDIKApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Grupo PiedraSanta">

    @*<title>INMEDIK</title>*@
	<title>ID Salud</title>
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap.css")" />

    <!-- Remove following comment to add Right to Left Support or add class rtl to body -->
    <link rel="stylesheet" href="@Url.Content("~/Content/Site.css")" />

    @RenderSection("Styles", false)
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script  src="@Url.Content("~/Scripts/FontAwesome/packs/solid.min.js")"></script>
    <script  src="@Url.Content("~/Scripts/FontAwesome/fontawesome.min.js")" ></script>
    <script src="@Url.Content("~/Scripts/angular.js")"></script>
    <!--@Scripts.Render("~/Angular")-->


    @RenderSection("Scripts", false)

    <!-- end: JavaScript-->
</head>

<body class="">

    <!-- start: Header -->
    <!-- end: Header -->
    <!-- start: Main Menu -->
    <!-- start: Content -->
    <div class="main">
        @RenderBody()
    </div>
    <!-- end: Content -->

    <footer></footer>
    @RenderSection("Modals", false)
</body>
</html>